.btn {
  font-size: 3rem;
  font-family: "lato", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  line-height: 2;
  color: $color-white;
  background-color: $color-secondary;
  width: 25rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 6.6rem;
  display: block;
  transition: all 0.2s ease-out;
  border: 0;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.page-btn {
  position: absolute;
  top: 3rem;
  fill: $color-white;

  &__icon:hover {
    fill: $color-primary;
  }

  &--back {
    left: 3rem;
  }

  &--settings {
    right: 3rem;
  }
}

.input {
  width: 100%;
  height: 100%;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: 0;
  text-align: center;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &::placeholder {
    color: rgba($color-white, 0.57);
  }
}

.calculator {
  font-size: 3.7rem;
  color: $color-white;
  background-color: transparent;
  text-align: center;
  width: 47rem;
  height: 31.8rem;
  line-height: 2.7;

  &__row {
    width: 100%;
    height: 10.6rem;
  }

  &__number-in-pexel {
    width: 64%;
    height: 100%;
    float: left;
    border-bottom: 0.1rem solid $color-white;

    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
  }

  &__type {
    display: block;
    width: 36%;
    height: 100%;
    border-left: 0.1rem solid $color-white;
    border-bottom: 0.1rem solid $color-white;
    float: left;

    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
  }

  &__number-in-percentage {
    width: 64%;
    height: 100%;
    float: left;
    border-bottom: 0.1rem solid $color-white;

    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
  }

  &__btn-container {
    width: 50%;
    height: 100%;
    float: left;

    &:last-child {
      border-left: 0.1rem solid $color-white;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    border: 0;

    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
  }
}

.value-changer {
  font-size: 3.7rem;
  color: $color-white;
  text-align: center;
  width: 47rem;
  height: 21.2rem;
  line-height: 2.7;

  &__row {
    width: 100%;
    height: 10.6rem;
  }

  &__input-container {
    width: 100%;
    height: 100%;
    border-top: 0.1rem solid $color-primary;
    border-bottom: 0.1rem solid $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
  }
}
