.app-name {
  font-size: 6.5rem;
  font-weight: 400;
  text-align: center;
}

.info {
  display: inline-block;
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  top: 2.3rem;
  left: 25rem;
}

.maximum-value {
  font-size: 1.6rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
